<div class="card">
  <div class="card-header text-white bg-info">S'enregistrer</div>
  <div class="card body">
    <form novalidate (ngSubmit)="saveData(registerForm)" #registerForm="ngForm">
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="">Nom</label>
          <input
            type="text"
            class="form-control"
            placeholder="nom"
            [(ngModel)]="user.lastName"
            name="lastName"
            required
            #lastNameVar="ngModel"
            [ngClass]="{
              'is-invalid': lastNameVar.touched && !lastNameVar.valid
            }"
          />
          <div class="invalid-feedback">
            <span *ngIf="lastNameVar.errors"> Entrez votre nom </span>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="">Prenom</label>
          <input
            type="text"
            class="form-control"
            placeholder="prenom"
            [(ngModel)]="user.firstName"
            name="firstName"
            required
            #firstNameVar="ngModel"
            [ngClass]="{
              'is-invalid': firstNameVar.touched && !firstNameVar.valid
            }"
          />
          <div class="invalid-feedback">
            <span *ngIf="lastNameVar.errors"> Entrez votre prenom </span>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="email">E-Mail</label>
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="email"
            [(ngModel)]="user.email"
            name="email"
            required
            #emailVar="ngModel"
            [ngClass]="{
              'is-invalid': emailVar.touched && !emailVar.valid
            }"
          />
          <div class="invalid-feedback">
            <span *ngIf="lastNameVar.errors"> Entrez votre email </span>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button class="btn btn-info" type="submit">Sauvegarder</button>
      </div>
    </form>
  </div>
</div>

<hr>
<!--
<p>Dirty: {{ registerForm.dirty }}</p>
<p>Pristine: {{ registerForm.pristine }}</p>
<p>Valid: {{ registerForm.valid }}</p>
<p>Invalid: {{ registerForm.invalid }}</p>
<p>Value: </p>
<pre> {{ registerForm.value | json }}</pre> -->

